.tag-container {
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  .profile-avatar {
    display: table-cell;
    vertical-align: middle;
  }

  .post-summary {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
  }

  .post-meta {
    display: block;

    a {
      margin-right: 5px;
    }
  }
}
