%section#about
  .row
    .col-md-4.about-image.wow.rotateInUpLeft
      = image_tag("personal_img.jpg", alt: "Jiazhen Xie")
    .desc.col-md-7.about-text.wow.rotateInUpRight
      %h2 ABOUT ME
      %p
        After finished BM in Information Management and Information System from
        #{link_to 'Northwest A & F University', 'http://www.nwsuaf.edu.cn/', alt: "Top 20 Universities in China"}
        in July 2010, I decided to get further education in
        #{link_to 'The University of Birmingham', 'http://www.birmingham.ac.uk/‎'},
        United Kingdom. I obained my MSc with Distinction in Computer Science in Oct 2011.
      %p
        Over the last five years of academic education and research, I've gained a strong understanding of several areas of computer science, but with particular expertise in areas of software engineering and database management.
      %p
        I started my internship in
        %abbr{title: "The Supplies Guys"} TSG
        in November 2011 then became a full-time employee after three months. My main resposibilities are designing and implementing softwares, maintaining research database and integrating Google
        %abbr{title: "Paid Per Click"} PPC
        data into the database. I am also involved in system architecture designs and implementations.
      %p
        Currently I am a Software Engineer in #{link_to 'Venntro', 'http://www.venntro.com/'}. I am passionate about Ruby and QA automation, hence regularly on the lookout for ways to improve QA automation.
      %p
        I like reading, traveling and animation. Please feel free to get in touch!
