%section#contact
  .container
    .row
      .col-md-12
        %h1 CONTACT ME
    .row
      .col-md-3.col-md-offset-5
        %h2 SOCIAL MEDIA
    .row
      .cartable.col-md-3.animated.infinite.bounce
        = image_tag("cartable-2.png", size: "303x219", alt: "Edit Entry")
      .col-md-6
        .media-container
          .row
            .col-md-4
              %a.btn.btn-default{:href => "mailto:jiazhenxie515@gmail.com", :role => "button"}
                %i.fa.fa-envelope.fa-inverse.fa-3x
            .col-md-4
              %a.btn.btn-default{:href => "http://uk.linkedin.com/pub/jiazhen-xie/63/637/256", :role => "button"}
                %i.fa.fa-linkedin.fa-inverse.fa-3x
            .col-md-4
              %a.btn.btn-default{:href => "#jiazhenjoe", :role => "button"}
                %i.fa.fa-weixin.fa-inverse.fa-3x
          .row
            .col-md-4
              %a.btn.btn-default{:href => "#lucky_mily", :role => "button"}
                %i.fa.fa-skype.fa-inverse.fa-3x
            .col-md-4
              %a.btn.btn-default{:href => "#jiazhenxie", :role => "button"}
                %i.fa.fa-twitter.fa-inverse.fa-3x
      .cartable.col-md-3.animated.infinite.swing
        = image_tag("cartable.png", size: "300", alt: "Edit Entry")
