.row
  / Carousel
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner
      - @posts.each_with_index do |post, index|
        .item{class: ("active" if index == 0)}
          %img{:src => post.url}/
          / Static Header
          .header-text.hidden-xs
            .col-md-12.text-center
              %h2
                %span
                  = link_to post.title, post_path(post)
              %br/
              %h3
                %span
                  - if post.content.split.size > 15
                    = markdown.render(summarise(post.content)).html_safe
                  - else
                    = markdown.render(post.content).html_safe
              %br/
              %div
                %a.btn.btn-theme.btn-sm.btn-min-block{:href => posts_path} READ MORE
        / /header-text
  / /carousel