%section#home.content-section.video-section
  .pattern-overlay
    %a#bgndVideo.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=Q11218Qp4kI',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
    .container
      .row
        .col-lg-12
          %h1 Jiazhen Xie
          %h3 Software Engineer / Tech Enthusiasm
