- provide(:title, 'About Me')
%p.lead
  Biography
 
=image_tag("personal_img.jpg", class: "img-polaroid pull-right img_margin", alt: "Jiazhen Xie", width: "200", height: "300")

%p
  After finished BM in Information Management and Information System from 
  #{link_to 'Northwest A & F University', 'http://www.nwsuaf.edu.cn/', alt: "Top 20 Universities in China"} 
  in July 2010, I decided to get further education in 
  #{link_to 'The University of Birmingham', 'http://www.birmingham.ac.uk/‎'}, 
  United Kingdom. I obained my MSc with Distinction in Computer Science in Oct 2011.

%p
  Over the last five years of academic education and research, I've gained a strong understanding of several areas of computer science, but with particular expertise in areas of software engineering and database management.

%p
  I started my internship in
  %abbr{title: "The Supplies Guys"} TSG
  in November 2011 then became a full-time employee after three months. My main resposibilities are designing and implementing softwares, maintaining research database and integrating Google
  %abbr{title: "Paid Per Click"} PPC
  data into the database. I am also involved in system architecture designs and implementations.

%p
  Currently I am a Developer in Test in #{link_to 'Global Personals', 'http://globaldev.co.uk/'}. Using RSpec and capybara to automise the QA process is really amazing.

%p
  Until now I have lived in UK for more than two years and had been to Delhi for three months as for a business trip. As my experience of living oversea, I strongly agree that the whold world is the same and eveyone is equal. We can be friends all over the world. Please do not hesiate to contact me, you can find me #{link_to 'here', contact_path}.