<% provide(:title, 'Contact') %>
<p class="lead">Contact</p>
<p>I can be reached by email: <a href="mailto:#">jiazhenxie515@gmail.com</a>. This is the most preferred way to get in touch.</p>

<p class="lead">Social Media</p>
<p>You can find me in 
	<a href="http://uk.linkedin.com/pub/jiazhen-xie/63/637/256">
		<img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Jiazhen Xie's profile on LinkedIn">
	</a>
</p>

<p class="lead">Address</p>
<address>
  Abacus Building<br>
  246 Bradford Street<br>
  Birmingham<br>
  B12 0NZ<br>
  United Kingdom<br>
</address>
