%section#welcome{"data-panel" => "welcome"}
  = render 'welcome'
%section#post{"data-panel" => "post"}
  = render 'post'
%section#about{"data-panel" => "about"}
  = render 'about'
%section#contact{"data-panel" => "contact"}
  = render 'contact'