.alert.alert-warning
	Hi, a warm welcome to you to visit my personal website!
%p
	I am a skilled professional in the IT sector as a dynamic and results oriented problem solver. Current working as a developer in QA in Global Personals Development Team, which is a team of web professionals building online dating websites and tools as part of Global Personals in the UK.
%p
	With my solid skills in programming,  system design and application development, I have worked with Google APIs, developing software tools using a variety of technologies, but mainly focussing on: Ruby on Rails, Ruby, Java, MySQL, Postgres, Git and SQL. 
%p
	As a Ruby developer, I love new techniques and would like to discuss complexity of algoirthms/problems. If you have any interesting questions, please do not hesitate to contact me. We will keep learning together and never stop. I love the words 
	%code.bg-warning.text-warning Work seriously, the simple life.
%hr
%em updated on 20th September, 2013