<div class="alert alert-success">Hi, a warm welcome to you to visit my personal website!</div>
<p>I am a skilled professional in the IT sector as a dynamic and results oriented problem solver. Current working as a marketing database manager in The Supplies Guys, which applying software development techniques to the world of online retail.</p>

<p>With my solid skills in programming,  system design and application development, I have worked with Google APIs, developing software tools using a variety of technologies, but mainly focussing on: Ruby on Rails, Java, MySQL, Postgres, Git and SQL. 
</p>

<p>I love new techniques and would like to discuss complexity of algoirthms/problems. If you have any interesting questions, please do not hesitate to contact me. We will keep learning together and never stop. I love the words <code>Work seriously, the simple life.</code>
</p>