#mainContainer
  = render "welcome"
  = render "about"
  = render "contact"
  %footer
    .row
      .col-md-12
        %h4 Copyright 2015 - Jiazhen Xie

#dotNav.pull-right{"data-spy" => "affix"}
  %ul
    %li.awesome-tooltip.active{:title => "Home"}
      %a{:href => "#home"}
    %li.awesome-tooltip{:title => "About"}
      %a{:href => "#about"}
    %li.awesome-tooltip{:title => "Contact"}
      %a{:href => "#contact"}

:javascript
  $(document).ready(function(){
    new WOW().init();

    $('.awesome-tooltip').tooltip({
      placement: 'left'
    });

    $(".player").mb_YTPlayer();

    $(window).bind('scroll',function(e){
      redrawDotNav();
    });

    function redrawDotNav(){

      var topNavHeight = 100;
      var numDivs = $('section').length;

      $('#dotNav li a').removeClass('active').parent('li').removeClass('active');
      $('section').each(function(i,item){
        var ele = $(item), nextTop;

        if (typeof ele.next().offset() != "undefined") {
          nextTop = ele.next().offset().top;
        } else {
          nextTop = $(document).height();
        }

        if (ele.offset() !== null) {
          thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numDivs);
        } else {
          thisTop = 0;
        }

        var docTop = $(document).scrollTop()+topNavHeight;

        if(docTop >= thisTop && (docTop < nextTop)){
          $('#dotNav li').eq(i).addClass('active');
        }
      });
    }

    $('#dotNav li').click(function(){
      var id = $(this).find('a').attr("href"),
      posi,
      ele,
      padding = $('.navbar-fixed-top').height();

      ele = $(id);
      posi = ($(ele).offset()||0).top - padding;

      $('html, body').animate({scrollTop:posi}, 'slow');

      return false;
    });

  });
