- provide(:title, "Chart Chooser")

%main.d-flex.align-items-center
  .container
    #wizard
      %h3 Step 1 - What would you like to show?
      %section
        %h5.bd-wizard-step-title Step 1
        %h2.section-heading Select the purpose
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        .purpose-radios-wrapper
          .purpose-radio
            %input#comparison.purpose-radio-input{:name => "purpose", :type => "radio", :value => "Comparison", required: true}/
            %label.purpose-radio-label{:for => "comparison"}
              %span.label-icon
                %img.label-icon-default{:alt => "comparison", :src => asset_pack_path("media/images/data-visual/comparison.png")}/
                %img.label-icon-active{:alt => "comparison", :src => asset_pack_path("media/images/data-visual/comparison_green.png")}/
              %span.label-text Comparison
          .purpose-radio
            %input#relationship.purpose-radio-input{:name => "purpose", :type => "radio", :value => "Relationship"}/
            %label.purpose-radio-label{:for => "relationship"}
              %span.label-icon
                %img.label-icon-default{:alt => "relationship", :src => asset_pack_path("media/images/data-visual/relationship.png")}/
                %img.label-icon-active{:alt => "relationship", :src => asset_pack_path("media/images/data-visual/relationship_green.png")}/
              %span.label-text Relationship
          .purpose-radio
            %input#composition.purpose-radio-input{:name => "purpose", :type => "radio", :value => "Composition"}/
            %label.purpose-radio-label{:for => "composition"}
              %span.label-icon
                %img.label-icon-default{:alt => "composition", :src => asset_pack_path("media/images/data-visual/composition.png")}/
                %img.label-icon-active{:alt => "composition", :src => asset_pack_path("media/images/data-visual/composition_green.png")}/
              %span.label-text Composition
          .purpose-radio
            %input#distribution.purpose-radio-input{:name => "purpose", :type => "radio", :value => "Distribution"}/
            %label.purpose-radio-label{:for => "distribution"}
              %span.label-icon
                %img.label-icon-default{:alt => "distribution", :src => asset_pack_path("media/images/data-visual/distribution.png")}/
                %img.label-icon-active{:alt => "distribution", :src => asset_pack_path("media/images/data-visual/distribution_green.png")}/
              %span.label-text Distribution

      %h3 Step 2 Title
      %section
        %h5.bd-wizard-step-title Step 2
        %h2.section-heading Enter your Account Details
        .form-group
          %label.sr-only{:for => "firstName"} First Name
          %input#firstName.form-control{:name => "firstName", :placeholder => "First Name", :type => "text"}/
        .form-group
          %label.sr-only{:for => "lastName"} Last Name
          %input#lastName.form-control{:name => "lastName", :placeholder => "Last Name", :type => "text"}/
        .form-group
          %label.sr-only{:for => "phoneNumber"} Phone Number
          %input#phoneNumber.form-control{:name => "phoneNumber", :placeholder => "Phone Number", :type => "text"}/
        .form-group
          %label.sr-only{:for => "emailAddress"} Email Address
          %input#emailAddress.form-control{:name => "emailAddress", :placeholder => "Email Address", :type => "email"}/
      %h3 Step 3 Title
      %section
        %h5.bd-wizard-step-title Step 3
        %h2.section-heading.mb-5 Review your Details and Submit
        %h6.font-weight-bold Select business type
        %p#business-type.mb-4 Branding
        %h6.font-weight-bold Enter your Account Details
        %p.mb-4
          %span#enteredFirstName Cha
          %span#enteredLastName Ji-Hun C
          %br/
          Phone:
          %span#enteredPhoneNumber +230-582-6609
          %br/
          Email:
          %span#enteredEmailAddress willms_abby@gmail.com
