.post-item {
  a {
    text-decoration: none;
  }

  .post-avatar {
    display: table-cell;
  }

  .post-summary {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
  }

  .post-meta {
    display: block;
  }
}
