* {
    a:hover {
        text-decoration: none;
    }

    letter-spacing: 0;
    word-spacing: 0;
}

html,
body {
    height: 100%;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/* nav */

nav.navbar {
    background: #ffffff;

    .navbar-right {
        margin-right: 0px;
    }

    .rounded-btn {
        @include border-radius(30px);
    }

    .brand-logo {
        padding: 0;
        margin-right: 0;
    }
}

.navbar-text.brand-text {
    text-transform: uppercase;
    color: #000000;
}

.dim-text {
    color: rgba(0, 0, 0, 0.44);
}

.description-color {
    color: rgba(0, 0, 0, 0.6);
}

.link {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: inherit;
    }
}

.link-darker {
    color: rgba(0, 0, 0, 0.8);
}

.link-accent {
    color: #00ab6b;
}

.link-light-accent {
    color: #45b29a;
}

.link-dark {
    color: #2A2A2A;
}

p.hero-description {
    font-size: 16px;
}

.media-set {
    font-size: 16px;
    margin: 0 3px;
}

/* posts */
.post-avatar {
    display: table-cell;
}

.post-summary {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

.post-meta {
    display: block;
}

.middotDivider {
    padding-right: .1em;
    padding-left: .1em;

    &::after {
        content: "·";
    }
}

/* footer */

footer {
    background: #C5DED7;
    padding: 50px 0px;
    text-align: center;
    color: #1A443B;
}

/* home */
.padding-top-108 {
    padding-top: 108px;
}

#intro-header {
    padding-top: 48px;
    background: url("../../images/about-background.jpg") no-repeat center center;
    background-size: 100%;
}

#head-slider {
    padding: 4em 0;
}

nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.intro-header-desc {
    font-size: 20px;
}

.intro-text-center {
    text-align: center;
}

.padding-15 {
    padding: 20px 0px;
}

.intro-padding {
    padding: .5em 0;
}

p.intro-detail {
    font-size: 1.5em;
    font-weight: 300;
}

p.intro-detail-color {
    color: #545454;
}

.breaker .line {
    margin: 50px auto;
    background-image: url("../../images/line.png");
    background-size: auto 6px;
    height: 6px;
    width: 5%;
}

.deets p {
    text-align: center;
    font-size: 1.25em;
}

.no-top-margin {
    margin-top: 0;
}
