#post-body {
  padding-top: 130px;
}

.post-title {
  margin: 50px 0 30px 0;
}

.grey-header {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.8px;
  font-size: 45px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  height: auto;
}
