#intro-header {
  padding-top: 48px;
  background: url('./about-background.jpg') no-repeat center center;
  background-size: 100%;
}

#head-slider {
  padding: 4em 0;
}

.intro-header-desc {
  font-size: 20px;
}

.intro-text-center {
  text-align: center;
}

#hello {
  padding: 48px 0;
}

.padding-15 {
  padding: 20px 0px;
}

.intro-padding {
  padding: .5em 0;
}

p.intro-detail {
  font-size: 1.5em;
  font-weight: 300;
}

p.intro-detail-color {
  color: #545454;
}

.breaker .line {
  margin: 50px auto;
  background-image: url('line.png');
  background-size: auto 6px;
  height: 6px;
  width: 5%;
}

.deets p {
  font-size: 1.25em;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.about-media-set {
  margin: 0 5px;
}