- content_for :head do
  %meta{:content => "Ruby, Software Engineer, Ruby on Rails", :name => "keywords"}/
  %meta{:content => "Jiazhen Xie (Joe) is a Software Engineer / Rubyist based in London, United Kingdom. He is passionate about web application and backend processes.", :name => "description"}/
