#blog-side.col-lg-4
  .well
    %h4
      %i.fa.fa-search
      Blog Search...
    .input-group
      %input.form-control{:type => "text"}
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"}
            %i.fa.fa-search
    / /input-group
  / /well
  .well
    %h4
      %i.fa.fa-thumbs-o-up
      Follow me!
    %ul
      %p
        %a{:href => "", :title => "Facebook"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-facebook.fa-stack-1x
        %a{:href => "", :title => "Twitter"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-twitter.fa-stack-1x
        %a{:href => "", :title => "Google+"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-google-plus.fa-stack-1x
        %a{:href => "", :title => "Linkedin"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-linkedin.fa-stack-1x
        %a{:href => "", :title => "GitHub"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-github.fa-stack-1x
        %a{:href => "", :title => "Bitbucket"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-bitbucket.fa-stack-1x
  / /well
  / /well
  .well
    %h4
      %i.fa.fa-fire
      Popular hacker news:
    %ul
      %li
        %a{:href => ""} WPF vs. Windows Forms-Which is better?
      %li
        %a{:href => ""} How to create responsive website with Bootstrap?
      %li
        %a{:href => ""} The best Joomla! templates 2014
      %li
        %a{:href => ""} ASP .NET cms list
      %li
        %a{:href => ""} C# Hello, World! program
      %li
        %a{:href => ""} Java random generator
  / /well
  