#blog-side.col-lg-4
  .well
    %h4
      %i.fa.fa-thumbs-o-up
      Follow me!
    %ul
      %p
        %a{:href => "https://www.facebook.com/jiazhen.xie.1232", :title => "Facebook"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-facebook.fa-stack-1x
        %a{:href => "http://weibo.com/jiazhenxie", :title => "Weibo"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-weibo.fa-stack-1x
        %a{:href => "jiazhenxie515@gmail.com", :title => "Google+"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-google-plus.fa-stack-1x
        %a{:href => "https://www.linkedin.com/pub/jiazhen-xie/63/637/256", :title => "Linkedin"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-linkedin.fa-stack-1x
        %a{:href => "https://github.com/JIAZHEN", :title => "GitHub"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-github.fa-stack-1x
        %a{:href => "https://bitbucket.org/jiazhen_xie", :title => "Bitbucket"}
          %span.fa-stack.fa-lg
            %i.fa.fa-square-o.fa-stack-2x
            %i.fa.fa-bitbucket.fa-stack-1x
  .well
    %h4
      %i.fa.fa-fire
      Latest show HN:
    %ul
      - @hn_news.each do |news|
        %li{:style => "font-size: smaller;"}
          %a{:href => news["url"]}= news["title"]
  