- provide(:title, "Blog")

#mainContainer
  %section.blog-wrap
    .container
      .row
        .blog-container.grid
          - @posts.each do |post|
            .items.grid-item.col-xs-5.col-sm-5.col-md-4.col-lg-4
              %label.btn.btn-default
                %a{:href => post_path(post)}
                  = image_tag post.image.url(:med)
                  %h4= post.title
                .text-wrap
                  %a{:href => post_path(post)}= post.content
                .info-stats-warp
                  .row
                    .cell.col-lg-6
                      %i.fa.fa-clock-o.fa-inverse
                      = time_ago_in_words(post.created_at)
                      ago
                    .cell.col-lg-6
                      %i.fa.fa-share.fa-inverse
                      share


:javascript
  $(document).ready(function(){
    $('.grid').masonry({
      itemSelector: '.grid-item'
    });
  });
