- provide(:title, "Blog")

%section.profile.jumbotron
  .container
    .row
      .col-md-6.col-md-offset-3
        %header
          %img.img-circle.pull-right{:src => "http://placehold.it/140x140"}
          %h1 JIAZHEN
          %p.description
            Software Engineer. Tech Enthusiasm. Rubyist
            @Jiazhenxie. Star Sky.
        .media-set
          %a 123 Following
          %a 123 Followers
          %a
            %i.fa.fa-weixin
          %a
            %i.fa.fa-twitter
          %a
            %i.fa.fa-weibo

%section
  .container
    .row
      .col-md-6.col-md-offset-3
        %h3 Latest
        %hr

        - @posts.each do |post|
          .post-item
            .post-avatar.pull-left
              %img.img-circle{:src => "http://placehold.it/32x32"}

            .post-summary
              %a Jiazhen Xie
              in
              %a UK
              %span.post-meta
                7 hrs ago . reads

            .post-content
              %h3= post.title
              %h4= post.subtitle

            .post-footer
              %a.btn.btn-default.navbar-btn.rounded-btn Read more
            %hr
    .row
      .col-lg-12
        = paginate @posts


:javascript
  $(document).ready(function(){

    var $container = $('.grid');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.grid-item'
      });
    });

    $container.infinitescroll({
      navSelector  : '.pagination',    // selector for the paged navigation
      nextSelector : '.pagination .next a',  // selector for the NEXT link (to page 2)
      itemSelector : '.grid-item',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true );
        });
      }
    );

  });
