- provide(:title, @post.title)

%section#post-body
  .container
    .row
      .col-md-10.col-md-offset-2
        .post-avatar
          %img.img-circle{:src => image_path("profile.jpg"), :width => "36", :height => "36"}

        .post-summary
          %a.link.link-accent Jiazhen Xie
          in
          %a.link.link-accent UK
          %span.post-meta.dim-text
            = time_ago_in_words(@post.created_at)
            ago
            %span.middotDivider
            Read

    .row
      .col-md-9.col-md-offset-2
        %h1.post-title= @post.title

    .row
      .col-md-9.col-md-offset-2
        .post-content.markdown-body
          = markdown.render(@post.content).html_safe
