@import 'bootstrap';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Open Sans';
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

label {
  font-size: 20px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* animation */

$i: 0;
@while $i <= 10 {
  .delay-#{$i} {
    animation-delay: 500ms * $i;
    -moz-animation-delay: 500ms * $i;
    -webkit-animation-delay: 500ms * $i;
  }
  $i: $i + 1;
}

.container {
  width: 80%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

section {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  &:nth-child(2n) {
    background: #08A9D1;
  }
}

/* nav */

.nav {
  position: fixed;
  width: 30px;
  height: 84px;
  z-index: 100;
  right: 0;
  top: 50%;
  margin-top: -42px;
  a {
    color: #000;
    display: block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 20px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    &:hover {
      -webkit-transition: background 1s;
      -moz-transition: background 1s;
      -ms-transition: background 1s;
      -o-transition: background 1s;
      transition: background 1s;
    }
  }

  i {
    color: #000;
    padding: 5px 5px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
  }
}

.mb-7 {
  margin-bottom: 70px;
}

.centered {
  text-align: center;
}

/* welcome */
.img-container {
  position: relative;
  bottom: auto;
  left: auto;
  max-height: 1000px;
}

.phone {
  max-width: 100%;
}

#title {
  text-align: center;

  h1 {
    letter-spacing: 1px;
    margin: 0 auto;
  }

  h2 {
    letter-spacing: -1px;
    margin: 0 auto;
    font-weight: normal;
  }
}

#welcome {
  p {
    font-size: 70%;
  }
}

/* about */

#about {
  background-color: #34495e;
  p {
    font-size: 75%;
  }
}

/* contact */
#contact {
  p {
    font-size: 75%;
  }
}

/* post */
#post {
  background: #2C3944;
  padding: 0px;
  .carousel {
    position: inherit;
  }
}

.post-preview > {
  a {
    color: #ffffff;
    &:hover, &:focus {
      text-decoration: none;
      color: #0085a1;
    }
    > {
      .post-title {
        font-weight: bold;
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .post-subtitle {
        color: #D5D5D5;
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }
  .post-meta {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    > a {
      text-decoration: none;
      color: #D2D2D2;
      &:hover, &:focus {
        color: #0085a1;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
  margin-top: 10%;
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
  }
}

/* Carousel Styles */
.carousel-indicators {
  top: 150%;
  .active {
    background-color: #2980b9;
  }
}

.carousel-inner {
  margin-top: 15%;
}


/* signin */
#signin {
  margin-top: 10%;
  width: 30%;

  #user_remember_me {
    width: 7%;
  }

  .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: medium;
  }

}

