@font-face {
  font-family: 'Inconsolata';
  src: font-url(asset-path('Inconsolata.otf'));
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Inconsolata;
  a:hover {
    text-decoration: none;
  }
  letter-spacing: 0;
  word-spacing: 0;
}

html, body {
  height:100%;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* nav */

nav.navbar {
  background: #ffffff;
  .navbar-right {
    margin-right: 0px;
  }

  .rounded-btn {
    @include border-radius(30px);
  }

  .brand-logo {
    padding: 0;
  }
}

.navbar-text.brand-text {
  text-transform: uppercase;
  color: #000000;
}

.btn-active {
    color: #00AB6B;
    background-color: #ffffff;
    border-color: #00AB6B;
    &:hover {
      color: #00AB6B;
      background-color: #ffffff;
      border-color: #00AB6B;
    }
}

.dim-text {
  color: rgba(0,0,0,0.44);
}

.description-color {
  color: rgba(0,0,0,0.6);
}

.link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}

.link-darker {
  color: rgba(0,0,0,0.8);
}

.link-accent {
  color: #00ab6b;
}

.link-light-accent {
  color: #45b29a;
}

.link-dark {
  color: #2A2A2A;
}

p.hero-description {
  font-size: 16px;
  word-spacing: -5px;
}

.media-set {
  font-size: 16px;
  margin: 0 3px;
}

/* posts */
.post-avatar {
  display: table-cell;
}

.post-summary {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}

.post-meta {
  word-spacing: -3px;
}

.middotDivider {
  padding-right: .1em;
  padding-left: .1em;
  &::after {
    content: "·";
  }
}

#contact {
  h2 {
    margin-bottom: 40px;
  }
}

/* footer */

footer {
  background: #C5DED7;
  padding: 50px 0px;
  text-align: center;
  color: #1A443B;
  margin-top: 50px;
}

/* home */

#intro-header {
  padding-top: 48px;
  background: url(asset-path("about-background.jpg")) no-repeat center center;
  background-size: 100%;
}

#head-slider {
  padding: 4em 0;
}

.intro-header-desc {
  font-size: 20px;
}

.intro-text-center {
  text-align: center;
}

#hello {
  padding: 48px 0;
}

.intro-padding {
  padding: .5em 0;
}

p.intro-detail {
  font-size: 1.5em;
  font-weight: 300;
}

p.intro-detail-color {
  color: #545454;
}

.breaker .line {
  margin: 50px auto;
  background-image: url(asset-path("line.png"));
  background-size: auto 6px;
  height: 6px;
  width: 5%;
}

.deets p {
  font-size: 1.25em;
}

.no-top-margin {
  margin-top: 0;
}

#design {
  margin-top: 60px;
  margin-bottom: 30px;
}
