html, body {
  height:100%;
}

#mainContainer {
  height:100%;
}

section {
  min-height:100%;
}

/* dot nav */
#dotNav {
  top: 50%;
  z-index: 5;
  right: 2%;
  padding: 7px;
  padding-top: 12px;

  ul {
    list-style: none;
    margin:0;
  }

  li {
    position: relative;
    background: none repeat scroll 0 0 #cccccc;
    border:1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align:bottom;

    &:hover {
      background: none repeat scroll 0 0 #EEEEEE;
    }
  }

  li.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
    background-repeat: repeat-x;
  }

  a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
  }
}

/* changing the navbar to transparent */
.navbar {
  color: #6E6E6E;
  text-transform: uppercase;
  transition: background-color 1s ease 0s;
  background-color: transparent;
  background: transparent;
  border: none;
  color: white;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar.opaque {
  background-color: #FAF5ED;
  background: #FAF5ED;
  transition: background-color 1s ease 0s; /* Transition effect to make it fade in (optional) */
  box-shadow: 0px 0px 4px #969696;
}

ul {
  &.nav {
    margin-left: 40%;
  }
  li a {
    font-size: larger;
  }
}

/* Navbar hover and highlight */

@mixin nav-background {
  background-color: transparent;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbar-default .navbar-nav li {
  a {
    font-weight: bolder;
    color: #23175D;

    &:hover, &:focus {
      border-bottom: 0.4em solid;
      color: #F16828;
      @include nav-background;
    }
  }

  &.active a {
    color: #23175D;
    border-bottom: 0.4em solid;
    @include nav-background;

    &:hover, &:focus {
      border-bottom: 0.4em solid;
      color: #F16828;
      @include nav-background;
    }
  }
}

/* Home page */

//colors
$color_gravel_59_approx: rgba(71, 71, 71, 0.59);
$white: #fff;
$black: #000;

//fonts
$font_0: Buenard;
$font_1: serif;

.video-section {
  .pattern-overlay {
    background-color: $color_gravel_59_approx;
    padding: 15% 0 25%;
  }
  h1 {
    text-align: center;
    color: $white;
    font-size: 110px;
    font-family: $font_0, $font_1;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px auto 0;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 1px $black;
  }
  h3 {
    text-align: center;
    color: $white;
    font-size: 25px;
    font-weight: lighter;
    margin: 0 auto 15px;
  }
  .buttonBar {
    display: none;
  }
}
.player {
  font-size: 1px;
}


