#post-body {
  padding-top: 88px;
}

.form-area {
  padding-top: 10%;
}

.post-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.post-content {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;

  p {
    margin-bottom: 40px;
  }
}
