#post-cotainer {
  height:100%;
  background-color: #E5DFDB;

  header {
    background-image: url(jmledru.jpg);
    height:100%;
  }

  .time {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 1%;
  }
}

.form-area {
  padding-top: 10%;
}
