.nav
  %a{"data-panel" => "welcome", :href => yield(:title).nil? ? "" : root_path(a: "welcome")}
    %i.fa.fa-home.fa
  %a{"data-panel" => "post", :href => yield(:title).nil? ? "" : posts_path}
    %i.fa.fa-book.fa
  %a{"data-panel" => "about", :href => yield(:title).nil? ? "" : root_path(a: "about")}
    %i.fa.fa-briefcase.fa
  %a{"data-panel" => "contact", :href => yield(:title).nil? ? "" : root_path(a: "contact")}
    %i.fa.fa-envelope.fa
  - if user_signed_in?
    %a{"data-method" => "delete", href: "/signout", rel: "nofollow"}
      %i.fa.fa-sign-out.fa