%nav.navbar.navbar-default.navbar-fixed-top.padding-15{:role => "banner"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.brand-logo{:href => root_path}
        %img{src: asset_pack_path("media/images/panda.png"), width: "51"}

    .collapse.navbar-collapse{:role => "navigation"}
      .navbar-text.brand-text
        %a.link.link-darker{:href => root_path}
          %b Jiazhen Xie
      .navbar-right
        %a.btn.navbar-btn.rounded-btn{:href => root_path, :class => current_page?("/") ? "btn-active" : "btn-default"} Blog
        %a.btn.navbar-btn.rounded-btn{:href => about_path, :class => current_page?("/about") ? "btn-active" : "btn-default"} About
        - if signed_in_admin?
          %a.btn-default.btn.navbar-btn.rounded-btn{:href => new_post_path} New post
          %a.btn-default.btn.navbar-btn.rounded-btn{:href => signout_path, "data-method" => "delete"} Sign out

      %form#search.navbar-form.navbar-right{:role => "search", :action => search_path, :method => "get"}
        .form-group
          %input.form-control.rounded-btn{:placeholder => "Search Posts", :type => "text", :name => "keyword"}/
